body {
  font-family: 'Inter UI', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

nav .active {
  color: #05f;
  font-weight: bold;
}

.bg-primary {
  background-color: #0055ff;
}

.bg-secondary {
  background-color: rgba(0, 85, 255, 0.03);
}

.br-secondary {
  border: 1px solid #0055ff;
}

.bs-secondary {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
}
