<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/img/favicon@2x.png" type="image/png">
  <link rel="manifest" href="/manifest.json" />
  <!-- Primary Meta Tags -->
  <title>{{ title or metadata.title }}</title>
  <meta name="title" content="Ajmal Afif – UX Designer ">
  <meta name="description" content="Championing holistic user experience with delicate product & design.">
  <meta name="theme-color" content="#05f"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ajmalafif.design/">
  <meta property="og:title" content="Ajmal Afif – UX Designer ">
  <meta property="og:description" content="Championing holistic user experience with delicate product & design.">
  <meta property="og:image" content="/static/img/ajmalafif.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://ajmalafif.design/">
  <meta property="twitter:title" content="Ajmal Afif – UX Designer ">
  <meta property="twitter:description" content="Championing holistic user experience with delicate product & design.">
  <meta property="twitter:image" content="/static/img/ajmalafif.jpg">

  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/static/font/Inter-UI-Regular.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/static/font/Inter-UI-SemiBold.woff2">

  {% set css %}
    {% include "assets/css/font-face.css" %}
    {% include "assets/css/tachyons.min.css" %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  {# Global site tag (gtag.js) - Google Analytics #}
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-131743011-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131743011-3');
  </script>
  {# <script defer>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register("/service-worker.js")
      .then(function() {
        console.log("ServiceWorker has been registered!");
      })
      .catch(console.error);
  }
</script> #}

  {# An optional javascript pipeline; outputs minified JS into <head>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  #}
</head>
