<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/img/favicon@2x.png">
  <!-- Primary Meta Tags -->
  <title>{{ title or metadata.title }}</title>
  <meta name="title" content="Ajmal Afif – UX Designer ">
  <meta name="description" content="Championing holistic user experience with delicate product & design.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ajmalafif.design/">
  <meta property="og:title" content="Ajmal Afif – UX Designer ">
  <meta property="og:description" content="Championing holistic user experience with delicate product & design.">
  <meta property="og:image" content="/static/img/ajmalafif.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://ajmalafif.design/">
  <meta property="twitter:title" content="Ajmal Afif – UX Designer ">
  <meta property="twitter:description" content="Championing holistic user experience with delicate product & design.">
  <meta property="twitter:image" content="/static/img/ajmalafif.jpg">

  <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css">
  {% set css %}
    {% include "assets/css/tachyons.min.css" %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {# An optional javascript pipeline; outputs minified JS into <head>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  #}
</head>
