<header class="fixed w-100 z-2 left-0 top-0 right-0 ph4-ns">
  <nav class="dt w-100 border-box pv3 wrap">
    <div class="dib w-100 w-25-ns tl-ns tc">
      <h1 class="f4 mb0 mt3"> <a class="dark-gray link logo" href="/" title="Home">@ajmalafif</a></h1>
    </div>
    <ul class="dib w-100 w-75-ns tr-ns tc mt4 mt0-ns">
      {%- for nav in collections.nav | sort(attribute="date") -%}
      <li class="f5 dib mr4 mr4-ns"><a class="link dark-gray" href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current"{% endif %}>{{ nav.data.navtitle }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
