<header class="fixed w-100 z-1">
  <nav class="dt w-100 border-box pv3 wrap">
    <div class="dib w-100 w-25-ns tl-ns tc">
      <h1 class="f4 mb0"> <a class="near-black dim link" href="#" title="Home">Ajmal Afif</a></h1>
    </div>
    <div class="dib w-100 w-75-ns tr-ns tc mt4 mt0-ns"><a class="link dark-gray dim f5 dib mr4 mr4-ns" href="/work" title="Work">Work</a><a class="link dark-gray dim f5 dib mr4 mr4-ns" href="/about" title="About">About</a><a class="link dark-gray dim f5 dib mr0-ns" href="/blog" title="Blog">Blog</a></div>
  </nav>
</header>
{# <nav>
  <ul>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav> #}
