<section class="w-100 dt mt3 mt4-ns">
	{% for post in postslist | reverse %}
		<article class="wrap" {% if post.url == url %} data-current="current item"{% endif %}>
			<div class="w-70-ns ph4 ph0-ns mb5">		
				<h3 class="lh-title mb1 blue">
					<a class="link fw6" href="{{ post.url | url }}">
						{% if post.data.title %}
							{{ post.data.title }} →
						{% else %}
							Untitled
						{% endif %}
					</a>
				</h3>
				{% if post.data.summary %}
					<p class="lh-copy mt2 mb2">
						{{ post.data.summary }}
					</p>
				{% endif %}
				<time datetime="{{ post.date | machineDate }}">
					<small class="gray lh-copy">{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
				</time>
				{% if post.data.tags %}
					<span>
						{% for tag in post.data.tags %}
							{%- if tag != "post" -%}
								{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<a class="moon-gray f6" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
							{%- endif -%}
						{% endfor %}
					</span>
				{% endif %}
			</div>
		</article>
	{% endfor %}
</section>
