---
layout: layouts/base.njk
section: about
---

<section class="w-100 mt4 mt5-ns">
  <article class="mt6 db wrap">
    <div class="fl w-100 w-50-ns tc tl-ns pb0 pb4-ns">
      <h1 class="mb1 mt0">About me</h1>
      <p class="moon-gray mt0">Ajmal Afif</p>
      {# <img src="" alt="Ajmal Afif's photo"/> #}
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns lh-copy">

    {{ layoutContent | safe }}

    <div class="bt b--light-gray mt4 mb4"></div>
    <h3>Contact me</h3>
    <p>
    <form name="contact" method="POST" netlify>
    <label class="db gray lh-copy f6 " for="name">Name</label>
    <input class="pa2 input-reset ba b--moon-gray bg-transparent w-100 mb3" type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
    <label class="db gray lh-copy f6 " for="email">Email</label>
    <input class="pa2 input-reset ba b--moon-gray bg-transparent w-100 mb3" type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    <label class="db gray lh-copy f6 " for="message">Message</label>
    <textarea class="pa2 input-reset ba b--moon-gray bg-transparent w-100 mb3" name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
    <button class="link pointer br2 ph4 pv3 dib white bg-primary db w-100 w-auto-ns tc" type="submit" name="submit">Send Message</button>
    </form>
    </p>


    </div>
  </article>
</section>
