---
layout: layouts/base.njk
section: blog
---
<section class="w-100">
  <article class="wrap dt bb b--light-gray pt4 pt5-ns">
    <div class="fl w-100 w-50-ns tc tl-ns pb0 pb4-ns">
      <h2 class="f2 f3-ns fw6 dark-gray mb1 mt0">Blog</h2>
      <p class="mid-gray mt0">Personal learnings & thoughts</p>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns lh-copy mb3 mb0-ns">
      I enjoy writing down and reflect on my experience. My goal is to write more about design, frontend and anything in between.
    </div>
  </article>
</section>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
