---
layout: layouts/base-homepage.njk
section: home
---

<section class="wrap w-100 vh-100 dt z-1">
  <div class="cf v-mid dtc">
    <div class="fl w-100 w-50-ns tc tl-ns pb4">
      <h1 class="mb1 mt0">Welcome</h1>
      <p class="moon-gray mt0">Ajmal Afif's personal website</p>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h3 class="mt0 mb0">Hi, I'm Ajmal 👋🏼</h3>
      {{ layoutContent | safe }}
      <a class="link br2 ph4 pv3 dib mr3-ns white bg-primary db w-100 w-auto-ns tc" href="/experience">Work experience</a>
      <a class="link br2 ph4 pv3 mt2 dib blue bg-white w-100 tc w-auto-ns bg-secondary bs-secondary br-secondary" href="/about">Contact me</a>
    </div>
  </div>
</section>
