---
layout: layouts/base-pages.njk
section: work
---


  <article class="db wrap pt4 pt5-ns">
    <div class="fl w-100 w-50-ns tc tl-ns pb0 pb4-ns">
      <h1 class="mb1 mt0">Experience</h1>
      <p class="mid-gray mt0">Featured work & past experiences</p>
    </div>
    <div class="w-100 w-50-ns ph4 ph0-ns fl lh-copy mb3 mb0-ns">
      <p>I have extensive working experience with diversed teammates in recent years, and worked with multiple startups & agencies for almost 6 years in the past.</p>
    </div>
  </article>
</section>
<section class="w-100 dt">
  <div class="wrap bt b--light-gray">
  </div>
</section>
<section class="w-100 mt4">
  <div class="dt-ns dt--fixed-ns wrap ph4 ph0-ns">
    <div class="dtc-ns pr0 pr3-ns">
      <h2 class="lh-solid mb0">UX Designer at Grab</h2>
      <p class="lh-copy">I am a UX Designer in the <strong>Economics team</strong> at Grab. I work closely with Project Managers</strong> and Behavioral Scientists realizing our ideas by creating a library of use cases through prototypes. This role empowers me to contribute to scoping features and influence product roadmaps.
      <p class="lh-copy">Besides that, for each project that I am involved in, I work closely with our User Experience Research team (UER). Depending on the stage of the project, together with other members of the working group, most of the time we'll be involved in either the Fundamental User Research, Product Related Research or Design Related Research that is run by UER team.</p>
      <h3 class="f4 mt4 mb1 fw6">Design Systems</h3>
      <p class="lh-copy mt2">Outside of my official role, I am involved as a committee member of Grab Design Systems (GDS). I help to maintain our official Sketch Libraries, shape contribution processes, and teach fellow designers how they can consume and contribute to GDS through informal training sessions.</p>
      <h3 class="f4 mt4 mb1 fw6">Design Tools Advocate</h3>
      <p class="lh-copy mt2">I record bitesized screencasts sharing tips & tricks for using design tools like Sketch, Invision & Abstract and shared them in our Slack channels.</p>
      {# <h3 class="f4 mt1 mb3 fw6">Design Podcast host</h3>
      <p class="lh-copy">Podcast host for our internal podcast, Forward Together.</p> #}
    </div>
  </div>
</section>
<section class="w-100 mt4">
  <div class="wrap pt4 pb6-ns bt b--light-gray">
    <div class="fl w-100 w-50-ns tc tl-ns pb4 mid-gray">
      <h2 class="mb1 mt0 fw3">Agencies & Startups</h2>
    </div>
    <div class="w-100 w-50-ns ph4 ph0-ns fl lh-copy">
      <p class="mt0">Earlier in my career, I have done my fair share of hustling with startups wearing many hats, doing design & frontend development.</p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc">
      <img class="mw-100" src="/static/img/labs.png" srcset="/static/img/labs@2x.png 2x, /static/img/labs@3x.png 3x" alt="VLT Labs logo"/>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="mid-gray mb2 fw3">Agency</h4>
      <h3 class="f4 mt1 mb3 fw6">VLT Labs</h3>
      <p class="mt0 lh-copy">
        VLT Labs is a startup studio focusing on kickstarting new startups in South East Asia region.
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc">
      <img class="mw-100" src="/static/img/tsuwave.png" srcset="/static/img/tsuwave@2x.png 2x, /static/img/tsuwave@3x.png 3x" alt="Tsuwave Studio logo"/>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="mid-gray mb2 fw3">Agency</h4>
      <h3 class="f4 mt1 mb3 fw6">Tsuwave Studio</h3>
      <p class="mt0 lh-copy">
        Tsuwave Studio is a design agency that specializes in eCommerce custom design & development on Shopify platform and WordPress custom design & frontend development.
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc">
      <img class="mw-100" src="/static/img/kaodim.png" srcset="/static/img/kaodim@2x.png 2x, /static/img/kaodim@3x.png 3x" alt="Kaodim logo"/>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="mid-gray mb2 fw3">Startup</h4>
      <h3 class="f4 mt1 mb3 fw6">Kaodim</h3>
      <p class="mt0 lh-copy">
        Kaodim is a “Marketplace for Servicing” SaaS app. I was leading a team of designers (of two haha) and was responsible for the web app design, and customer & vendor mobile apps (both iOS and Android).
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns pb5 pb6-ns cf">
    <div class="fr w-100 w-50-ns tc">
      <img class="mw-100" src="/static/img/billplz.png" srcset="/static/img/billplz@2x.png 2x, /static/img/billplz@3x.png 3x" alt="Billplz logo"/>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="mid-gray mb2 fw3">Startup</h4>
      <h3 class="f4 mt1 mb3 fw6">Billplz</h3>
      <p class="mt0 lh-copy">
        Billplz is a “billing and payment collection” SaaS app. I was the only designer and was responsible for the customer-facing and internal tools web app design.
      </p>
    </div>
  </div>
