---
layout: layouts/base.njk
section: work
---

<section class="w-100 mt4 mt5-ns">
  <article class="db wrap">
    <div class="fl w-100 w-50-ns tc tl-ns pb0 pb4-ns">
      <h1 class="mb1 mt0">Work</h1>
      <p class="moon-gray mt0">Featured work & past experiences</p>
    </div>
    <div class="w-100 w-50-ns ph4 ph0-ns fl lh-copy">
      <p>I have extensive working experience with diversed teammates in recent years, and worked with multiple startups & agencies for almost 6 years in the past.</p>
    </div>
  </article>
</section>
<section class="w-100 dt">
  <div class="wrap pt4 pb6-ns bt b--light-gray">
    {# <div class="fl w-100 w-50-ns tc tl-ns pb4">
      <h2 class="mb1 mt0 moon-gray fw3">Diversed teams</h2>
    </div>    <div class="w-100 w-50-ns ph4 ph0-ns fl lh-copy">
      <p class="mt0">Currently, I am a <strong>UX Designer in Economics team at Grab</strong>.
      </p>
    </div> #}
  </div>
</section>
<section class="w-100 mt5">
  <div class="dt-ns dt--fixed-ns wrap ph4 ph0-ns">
    <div class="dtc-ns pr0 pr3-ns">
      <h2 class="lh-solid mb0">UX Designer at Grab</h2>
      <p class="lh-copy">I am a UX Designer in <strong>Economics team</strong> at Grab. I work closely with <strong>Project Managers</strong> and <strong>Behavioral Scientists</strong> realizing our ideas by creating library of use cases through prototypes. In that role, I also have a voice and contribute in scoping features and influence product roadmaps.
      <p>On the other hand, I also work closely with User Experience Research team (UER) for any </p>
      <h3 class="lh-solid mb0 fw6">Design Systems</h3>
      <p class="lh-copy">Outside my official role, I am a committee member of Grab Design Systems (GDS) involved in helping to maintain current Sketch Libraries, organize informal training on how to use and contribute to GDS.</p>
    </div>
  </div>
</section>
<section class="w-100 mt5">
  <div class="wrap pt4 pb6-ns bt b--light-gray">
    <div class="fl w-100 w-50-ns tc tl-ns pb4 moon-gray">
      <h2 class="mb1 mt0 fw3">Startups & Agencies</h2>
    </div>
    <div class="w-100 w-50-ns ph4 ph0-ns fl lh-copy">
      <p class="mt0">Earlier in my career, I have done my fair share of hustling with startups wearing many hats, doing design & frontend development.</p>
    </div>
  </div>
  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc pb4">
      <h4 class="moon-gray mb2 fw3">Image here</h4>
      <h3 class="f4 mt1 mb3">Screenshot here</h3>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="moon-gray mb2 fw3">Startup</h4>
      <h3 class="f4 mt1 mb3">Charaku</h3>
      <p class="mt0 lh-copy">
        Charaku is cloud-based Karaoke streaming system. I was responsible for Charaku (now called Popiscal) iOS design that functions as the remote control for song selection, queue and many more.
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc pb4">
      <h4 class="moon-gray mb2 fw3">Image here</h4>
      <h3 class="f4 mt1 mb3">Screenshot here</h3>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="moon-gray mb2 fw3">Startup</h4>
      <h3 class="f4 mt1 mb3">Kaodim</h3>
      <p class="mt0 lh-copy">
        Kaodim is a “Marketplace for Servicing” SaaS app. I was leading a team of designers (of two haha) and was responsible for the web app design, and customer & vendor mobile apps (both iOS and Android).
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc pb4">
      <h4 class="moon-gray mb2 fw3">Image here</h4>
      <h3 class="f4 mt1 mb3">Screenshot here</h3>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="moon-gray mb2 fw3">Startup</h4>
      <h3 class="f4 mt1 mb3">Billplz</h3>
      <p class="mt0 lh-copy">
        Billplz is a “billing and payment collection” SaaS app. I was the only designer and was responsible for the customer-facing and internal tools web app design.
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns cf">
    <div class="fr w-100 w-50-ns tc pb4">
      <h4 class="moon-gray mb2 fw3">Image here</h4>
      <h3 class="f4 mt1 mb3">Screenshot here</h3>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="moon-gray mb2 fw3">Agency</h4>
      <h3 class="f4 mt1 mb3">VLT Labs</h3>
      <p class="mt0 lh-copy">
        VLT Labs is a startup studio focusing on kickstarting new startups in South East Asia region.
      </p>
    </div>
  </div>

  <div class="wrap pt4 pb5-ns pb5 pb6-ns cf">
    <div class="fr w-100 w-50-ns tc pb4">
      <h4 class="moon-gray mb2 fw3">Image here</h4>
      <h3 class="f4 mt1 mb3">Screenshot here</h3>
    </div>
    <div class="fl w-100 w-50-ns ph4 ph0-ns">
      <h4 class="moon-gray mb2 fw3">Agency</h4>
      <h3 class="f4 mt1 mb3">Tsuwave Studio</h3>
      <p class="mt0 lh-copy">
        Tsuwave Studio is a design agency that specializes in eCommerce custom design & development on Shopify platform and WordPress custom design & frontend development.
      </p>
    </div>
  </div>

</section>
